::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33a0b6; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #33a0b6; 
}
nav{
    z-index: 3; 
}
.navbar-brand{ 
    i{ 
        font-size: 40px !important;      
    }
}
.bg-light {
    background-color: #ff5722!important;
    box-shadow: 2px 2px 3px #00000021;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:white!important;
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(0, 0, 0, 0.72);
}
.nav-item{
    padding: 0px 20px;
    a{
        font-size: 20px;
    }
    i{
        color: white;
        font-size: 20px;
    }
}
header{
    background: linear-gradient(#00000099, #00000096);
    // height: 100vh;
    .para{
        height: 100vh;
        padding: 10vh 10vw;
        z-index: 2;
        .btn{
            a{
                text-decoration: none;
                color: inherit;
            }
        }
     h3{
         color: white;
         max-width: 15vw;
         padding-bottom: 5vh;
     }
    }
}

h1{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0px 5px 10px #000;    
    padding-bottom: 5vh;
    max-width: 40vw;
}
h2{
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0px 5px 10px #000;    
    padding-bottom: 5vh;
    max-width: 40vw;
}

.test{
    padding-top: 15vh;
    padding-bottom: 15vh;
    .card-on{
        border-radius: 10%;
        height: 30vh;    
        width: 15vw;
        margin: 0vh 2vw;
        padding: 2%;
        background-color: #ff0000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23ff0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23ff0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        h3{
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
       
        i{
            font-size: 2rem;
            color: white;
        }
        p{
            color: white;
            font-size: .8rem;
        }
    }
    .card{
        border-radius: 10%;
        height: 30vh;    
        width: 15vw;
        margin: 0vh 2vw;
        padding: 2%;
        transition: .3s;
        h4{
            color: black;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        i{
            font-size: 2rem;
            color: black;
        }
        p{
            color: black;
            font-size: .8rem;
        }
        &:hover{
            background-color: #ff0000;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23ff0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23ff0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: cover;
            h3{
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
            }
            i{
                font-size: 2rem;
                color: white;
            }
            p{
                color: white;
                font-size: .8rem;
            }

        }

    }
}
.para2{
    z-index: 2;
    i{
        color: #ff6e0078;
        font-size: 10rem;
        padding-top: 15vh
    }
    h5{
        color: white;
        font-size: 3rem;
        max-width: 30vw;
        padding-bottom: 15vh
    }
}
.test2{
    background-color: #9E9E9E;
    .lazy{
        padding: 3%;
        .carousel-card{
            overflow: hidden;
            display: inline-block;
            max-height: 100%;
            max-width: 100%;
        }
        h1{
            margin: 50px 0px;
        }
        img{
            max-height: 80%;
            max-width: 80%;
        }
        button{
            margin: 50px 0px;
        }
    }
}
    .slick-slide > div {
        width: 100%;
    }
    .slick-list{
        padding: 0 !important;
    }
    .slick-dots{
        display: none !important;
    }

footer{
    padding: 20vh;
    i{
        font-size: 3rem;
        margin: 0px 20px;
    }
}